<ul>
        <li><a href="employees">Employees</a></li>
        <li><a href="orders">Orders</a></li>
        <li><a href="menuitems">Menu Items</a></li>
        <li><a href="payments">Payments</a></li>
        <li><a href="ordermenu">OrderMenus</a></li>
        <li style="float:right"><a  href="/">Restaurant POS</a></li>
</ul>


{{!-- Create a table --}}
<table id='menu-table'>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.menuID}}</td>
            <td>{{this.name}}</td>
            <td>{{this.price}}</td>
            <td>{{this.itemCategory}}</td>
            <td><button onclick="deleteMenuItem({{id}})">Delete</button></td>
            <td><a href="/menuitems/{{id}}">Update</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to add a record to the table  --}}

<h3>Add New Menu Item</h3>
<form id="add-menuitem-form" method="POST" action="/add-menuitem-form">
    <label for="menuItemName">Item Name </label>
    <input type="text" name="menuItemName" id="menuItemName">
    
    <label for="menuItemPrice">Price </label>
    <input type="number" name="menuItemPrice" id="menuItemPrice">

    <label for="menuItemcategory">Item Category</label>
    <input type="text" name="menuItemcategory" id="menuItemcategory">

    <input type="submit">
</form>

<h3>Search by name using the field below </h3>
<form id="search-menuitem-html" method='GET' action='/menuitems'>
    <label for="name">Search by Name: </label>
    <input type="text" name="name" id="search-menuitem-html">
    
    <input type="submit">
    <a href='/'><button>Reset</button></a>
</form>

<h3>Delete Menu Item</h3>

<form id="delete-menu-html" method="POST" action="/delete-menu-form">
    <label for="menuID"> Enter Menu Item ID</label>
    <input type="number" id="menuID" name="menuID">
        
    <input type="submit">
    <a href='/'><button>Reset</button></a>
</form>

<h3>Update Menu Item</h3>


    <form id="update-menus-form" method="POST" action="/update-menus-form">
    
    <label for="menuID"> Enter Menu ID</label>
    <input type="number" id="menuID" name="menuID">
    
    <label for="menuItemName">Item Name </label>
    <input type="text" name="menuItemName" id="menuItemName">
    
    <label for="menuItemPrice">Price </label>
    <input type="number" name="menuItemPrice" id="menuItemPrice">

    <label for="menuItemcategory">Item Category</label>
    <input type="text" name="menuItemcategory" id="menuItemcategory">

    <input type="submit">
     <a href='/'><button>Reset</button></a>
</form>